.suggestedLinks {
  width: 40%;
  height: 100%;
  border-style: dashed;
  border-color: black;
  border-width: 5px;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 20px 10px 20px;
}

.heading {
  flex: auto;
}

.linkItem {
  margin-top: 10px;
  display: flex;
  align-content: flex-start;
}

.linkIcon {
  width: 30%;
  height: 60px;
}

.linkTitle {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.title {
  flex: auto;
  border-bottom-style: solid;
  border-bottom-color: rgb(31, 144, 205);
  border-bottom-width: 2px;
  padding: 20px 20px 0 20px;
}

.linkItemIcon {
  height: 50px;
}
