.suggestedLinks {
  flex: auto;
  border-color: black;
  border-style: dashed;
  border-radius: 5px;
  border: 5px;
  padding: 20px;
  margin: 20px;
  color: red;
}

.heading {
  flex: auto;
}

.linkItem {
  flex: auto;
}

.linkIcon {
  flex: auto;
}

.linkTitle {
  flex: auto;
}

.title {
  flex: auto;
  border-color: black;
  border-style: dashed;
  border-radius: 5px;
  border: 5px;
  padding: 20px;
  margin: 20px;
}
